## Gives a ZSH command prompt like: `(base) USER@MACHINE:[CWD (2 folders depth)]:$:`
## Same as in the BASHRC version.

parse_git_branch() {
    git branch 2> /dev/null | sed -e '/^[^*]/d' -e 's/* \(.*\)/ (\1)/'
}

autoload -Uz promptsubst
setopt PROMPT_SUBST

PS1='%F{16}%K{30}%n%f%k@%m:[%F{208}${PWD#"${PWD%/*/*}/"}%f]$(parse_git_branch):$: '
